.form-input {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}
.store-item {
    margin: 30px;
}

.item-image {
    object-fit: contain;
}

.item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.item-details {
    display: flex;
    align-items: center;
    padding: 5px;
    padding-left: 15px;
    font-size: 1rem;
}

.store-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item-price {
    flex-grow: 1;
    color: #333;
    padding-left: 10px;
} 

.login-header {
    display: flex;
    padding-left: 1px;
    background-color: rgb(114, 218, 221);
    flex-direction: column;
    align-items: center;
  
}

.user-input {
    padding-left: 15px;
}

.homepage-image {
  
    background:url(https://dlcdnwebimgs.asus.com/files/media/316F3135-E3DA-4CFA-B659-496E1A98051B/img/bg_intel_wifi6_s.jpg);
    height: 95vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 20%;
    background-size: cover;
}

.details-link {
    text-decoration: none;
}

body {
    background: url(https://www.signetcoffee.com/test/online-store/shopsite-images/en-GB/backgrounds/flex-build/lights-blue.jpg);
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#navbar {
    color: white;
}

.headertext{
    color: white;
}